.top-content,.socials{
  display: flex;
  justify-content: space-between;
  
}
.top-content{
  padding: 1.5rem 0;
}
.content-image{
  height: auto;
  width: 400px;
}
.eachImage{
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  margin: 2rem 0;
}
.eachImage .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.eachImage:hover .content-overlay{
  opacity: 0.6;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.eachImage:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.imagedetails{
  height: auto;
  width: 600px;
  
}
#header{
  padding:10% 0 ;
 
}
.head h1{
  font-size: 2rem;
  padding: 2rem 0;
}
.top h1{
  color: green;
  font-size: 5rem !important;
}
a{
  text-decoration: none;
}
.img:hover{
  width: 400px;
  opacity: .5 !important;
  /* transform: rotate(360deg); */
}