{%  extends 'projects/base.html' %}

{% block content  %}
<div class="container">
  <div class="top-content">
    <div class="side">
      <a href="">
        <h4>ENGLISH</h4>
      </a>
    </div>
    <div class="top-main">
      <h5>
        The awards of design, creativity and innovation on the internet

      </h5>
    </div>
    <div class="left-side">
      <div class="socials">
        <div class="insta">
          <i class="fab fa-instagram"></i> |
        </div>
        <div class="fb">
          <i class="fab fa-facebook-f"></i> |
        </div>
        <div class="twiter">
          <i class="fab fa-twitter"></i> |
        </div>
      </div>
    </div>

  </div>
</div>

{% include 'projects/nav.html' %}
<section id = 'hero'>
  <div class="hero">
    <div class="wrapper">
      <div class="hero-contx">
        <div class="hero-content">
          <h1 class="text-center">PROJECT & PROJECT REVIEW</h1>
          <h2 class="text-center"> BY AWADH SAID FROM KENYA </h2>
        </div>
        <div class="spin-container">
          <div class="spin" id="loader"></div>
          <div class="spin" id="loader2"></div>
          <div class="spin" id="loader3"></div>
          <div class="spin" id="loader4"></div>
          <h1 id="text">PPROJECTS VIEW</h1>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="projects">
  <div class="container">
    <div class="project-title">
      <h1 class="text-center">Have a glimpse of awesome projects</h1>
    </div>
    <section>
      <div class="container-fluid">
        <div class="box">
          {% for project in projects %}
          <div class="images">
            
              <div class="eachImage">
                <div class="content-overlay"></div>
                <!-- when an image is clicked, gets to the url to details/clicked image id. this is the id that is passed as an 
                arg to the details function-->
                <a href=""><img class="content-image" src="{{project.image.url}}" alt="{{project.title}}"></a>         
                                        
                    <div class="content-details fadeIn-bottom">
                      <div class="wrapper">
                        <!-- <div class="socials">
                          <a href="awadh.com" ><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
    
                        </div> -->
                       <div class="site">
                         <a href="{% url 'projectDetail' pk=project.pk %}"><i class="fas fa-share share"></i></a>
                        </div>
                      </div>
                      
                      
                    <h3 class="content-title">{{project.title}}</h3>
                  
                  </div>
                  
               
  
               
              </div>
              <div class="project-body">
                <p class="text">{{project.description}}.</p>
                <div class="extra">
                  <div class="location">
                    <small>
                      {{project.location}}
                    </small>
  
                  </div>
                  <div class="publish">
                    <p>
                      {{project.date_posted}}
                    </p>
                  </div>
                </div>
                <div class="profile">
                  <div class="profile-project-image">
                    <img class = 'project-profile-image'src="{{project.publisher.profilepic.url}}" alt="">
                  </div>
                  <span>
                    <p>BY {{project.publisher.user.username}}</p>
                  </span>
                </div>
  
              </div>
              
            </div>
            {% endfor %}

        </div>
     





          


        </div>
      </div>
  </div>
</section>
{% endblock %}